/** VARIBALES **/
$main-color: #F9A826;
$secondary-color: #C66790;
$third-color: #E0885B;
$transparent-dark: #1f212494;
$grey-light: #dee2e6;
$transparent-light: rgba(255, 255, 255, 0.952);

$font-family: 'Roboto', 'Helvetica', 'Verdana';

$phone-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;